@font-face {
    font-family: 'Montserrat-Regular';
    src: url('font-family/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('font-family/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'Play-italic';
    src: url('font-family/PlayfairDisplay-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Raleway-Bold';
    src: url('font-family/Raleway-VariableFont_wght.ttf');
}
