.navbar-main{
    padding-top: 20px;
    @include x-small{
        padding-top: 0px;  
    }
    .logo{
        @include x-small{
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
    .toggle-bar{
        display: none;
        @include x-small{
            display: block;
        }
        i{
            color: #fff;
            font-size: 30px;
            padding-right: 20px;
        }
    }
    .main_nav{
        @include x-small{
            justify-content: center;
            display: none;
        }
        ul{
            @include x-small{
                text-align: center;
            }
        }
        .nav-item{
            .nav-link{
                font-family: $montserrat-reg;
                font-size: $link-font-size;
                transition: 0.3s;
                color: #000;

                &:hover{
                    background: $primary-color;
                    color: $hover-link-color;
                }
                &.active{
                    @extend :hover;
                }
            }
        }
    }
    .socials{
        i{
            color: #fff;
            background: #000;
            padding: 5px;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            margin: 5px;
            transition: 0.3s;

            &:hover{
                box-shadow: 0px 0px 5px 5px #fff;
            }
        }
    }
}