$montserrat-reg: 'Montserrat-Regular', sans-serif;
$montserrat-bold: 'Montserrat-Bold', sans-serif;
$play-italic: 'Play-italic', sans-serif;
$raleway-bold: 'Raleway-Bold', sans-serif;
$primary-color: #00b0ff;
$link-font-size: 14px;
$hover-link-color: #fff;